<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940224589028-u9kv2v1ng01e3g8p7hpf3h8bqtqsjmre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940224589028-u9kv2v1ng01e3g8p7hpf3h8bqtqsjmre</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>940224589028-ggkdk35eov73m0sui91a0h5i2754surr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2XkcMuN8WtheYs3K5sZ9Y8rhqhnP_Pgo</string>
	<key>GCM_SENDER_ID</key>
	<string>940224589028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendance</string>
	<key>PROJECT_ID</key>
	<string>attendance-6bf18</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-6bf18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940224589028:ios:d1da1bc7831b8ce92e50f1</string>
	<key>DATABASE_URL</key>
	<string>https://attendance-6bf18-default-rtdb.firebaseio.com</string>
</dict>
</plist>